body {
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    transition: step-start;
    flex: 1;
    flex-direction: column;
}
.autoplacement-example {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px;
}
